@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

/* scrollbar settings */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track { 
    background: rgba(202, 28, 28, 0);
}

::-webkit-scrollbar-thumb {
    background: #3a7a5591;
}

::-webkit-scrollbar-thumb:hover {
    background: #448f63bb;
}

::-webkit-scrollbar-corner {
    background: none;
}

/* linki */

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

/* home button */

button {
    border: none;
    padding: 1em;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-style: 1.2em;
    letter-spacing: 0.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
}
button:before, button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: '';
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(60deg, #1098ad, #6fba82);
}
button:before {
    filter: blur(7px);
    transition: all 0.25s ease;
    animation: pulse 10s infinite ease;
}
button:after {
    filter: blur(0.3px);
}
button:hover:before {
    width: 115%;
    height: 115%;
}

/* main */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: #1d1d1d;
    color: whitesmoke;
    width: 99%;
}

nav {
    border-bottom: solid grey 2px;
    padding: 20px 25px;
    font-size: 20px;
}
/*
.review-div {
    background-color: white;
    border-radius: 5px;

    border: 0px solid;
    padding: 10px;
    box-shadow: 0px 5px 10px #888888;

    color: black;
    max-height: 405px;
    max-width: 385px;
    min-width: 385px;
}
*/

#container { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#container > div { 
    background-color: white;
    border-radius: 5px;

    border: 0px solid;
    padding: 20px;
    box-shadow: 0px 5px 10px #888888;

    color: black;
    max-width: 385px;
    min-width: 385px;

    margin: 0px 35px;
}

.hm {
    visibility: hidden;
}

/* join us */

td {
    border: 0px red solid;
    padding: 0px 50px;
}

.zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    transform: scale(1.25);
  }


